body {
  font-family: 'Raleway', sans-serif;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0;
  scroll-behavior: smooth;
}

/* Top Nav (Header) */

.topNav {
  width:100%;
  height: 120px;
  background-color: #2b2330;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.topNav-Logo {
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.topNav-Logo h1 {
  font-family: 'Modak', system-ui;
  font-weight: 400;
  font-style: normal;
  color: #fceaae;
  font-size: 50px;
  line-height: 5px;
  margin-bottom: 20px;
}

.topNav-Logo p {
  font-size: 18px;
  font-weight: bold;
  color: #fceaae;
  letter-spacing: 3px;
  text-align: center;
  background-color: #e14928;
  padding: 3px;
  border-radius: 5px;
}

.topNav-Links {
  margin-left: 20px;
}

.topNav-Links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  border-radius: 20px;
  transition: 0.2s ease all;
}

.topNav-Links .currentPage {
  color: #e14928;
  transition: 0.2s ease all;
}

.topNav-Links .currentPage:hover {
  color: #e14928;
  background-color: #1c181f;
}

.topNav-Links a:hover {
  color: white;
  background-color: #1c181f;
}

.topNav-Account {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 25%;
  margin-left: 80px;
  transition: 0.4s ease all;
}

.topNav-Account a {
  font-size: 24px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  margin-right: 20px;
  transition: 0.4s ease all;
}

.topNav-Account a:hover {
  color: white;
}

.topNav-Account .signIn-Button {
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #e14928;
  border-radius: 10px;
  color: #fceaae;
  padding: 10px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease all;
}

.topNav-Account .signIn-Button:hover {
  background-color: #e65332;
  padding: 14px;
  color: white;
}

/* GRID */

body {
  background-color: #ebd8ae;
}

.bodyContainer {
  height: calc(100% - 120px); /* Adjust based on the height of your footer */
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.angry-grid {
  display: grid; 

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
  gap: 30px;
  height: 100%;
  
}

.angry-grid div {
  padding: 10px;
  border: 5px solid white;
  border-radius: 10px;
  transition: 0.2s ease-out all;
}
 
#item-0 {

  background-color: #42b3b7; 
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
  
}

#item-1 {

  background-color: #AD987F; 
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
  
}
#item-2 {

  background-color: #eed59f; 
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 4;
  
}
#item-3 {

  background-color: #e4392b; 
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
  
}
#item-4 {

  background-color: #5BD9F6; 
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
  
}
#item-5 {

  background-color: #42b3b7; 
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
  
}
#item-6 {

  background-color: #e65332; 
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;
  
}
#item-7 {

  background-color: #FDDAA5; 
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
  
}
#item-8 {

  background-color: #6BAA98; 
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
  
}

.angry-grid div:hover {
  cursor: pointer;
  border: 10px solid white;
}

/* Game Continar */

.gameBodyContainer {
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

.gameContainer {
  height: 65%;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Footer */

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #2b2330;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}